html {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif, Arial;
}

body {
    margin: 0 auto;
    background-image: url("https://www.esri.com/about/newsroom/wp-content/uploads/2021/06/wherenext-where-in-the-world-Is-crypto-used-wide-1920x1080-1.jpg");
}